In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import re

In [63]:
df = pd.read_csv('pokemon_data.csv')

In [4]:
df = df.loc[~df['Name'].str.contains('Mega')]
df

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
4,5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746,794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
747,795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
748,797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
749,798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
750,799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [42]:
def filter_type(t1,t2):
    if t2 == 'any':
        return df.loc[(df['Type 1'] == str(t1))]
    else:
        return df.loc[(df['Type 1'] == str(t1)) & (df['Type 2'] == str(t2))]
    
inp1 = input('Choose a Pokemon Type: \n')
inp2 = input('Choose a pokemon Subtype or "any": \n')
filter_type(inp1,inp2)

Choose a Pokemon Type:
Fire
Choose a pokemon Subtype or "any":
Fighting

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
277,256,Combusken,Fire,Fighting,405,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,530,80,120,70,110,70,80,3,False
436,391,Monferno,Fire,Fighting,405,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,534,76,104,71,104,71,108,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,528,110,123,65,100,65,65,5,False

In [54]:
inp_name = input('Enter a Pokemon name: \n')
df.loc[df['Name'].str.contains(inp_name, flags = re.I, regex = True)]

Enter a Pokemon name:
catErpiE

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False

## Download all Pokemon Images and Save them to cd

In [ ]:
import requests
import shutil

index = int('000')
for i in range(721):
    index +=1
    ind = ('%03d' % index)
    url = f'https://assets.pokemon.com/assets/cms2/img/pokedex/full/{ind}.png'
    response = requests.get(url)
    with open(f'{ind}.png','wb') as file:
        file.write(response.content)
        file.close()

### Show image based on pokemon Name / Index

In [12]:
from PIL import Image

inp_image = input('Pokemon Name: \n')
inp_image = inp_image[0:1].upper() + inp_image[1:].lower()
index_image = df[df.Name==inp_image].Index.item()
ind = ('%03d' % index_image)
im = Image.open(f"{ind}.png")
im.show()

Pokemon Name:
Hitmonlee

In [75]:
from tkinter import *
from PIL import ImageTk,Image  
import tkinter as tk
from tkinter import ttk

def search():
    frame_cover = tk.Frame(root, bg = '#FFFFFF').place(relx=0.34,rely=0.25,relwidth=0.17,relheight=0.65)
    pokemon = optn.get()
    pokemon = pokemon[0:1].upper() + pokemon[1:].lower()
    index_image = df[df.Name==pokemon].Index.item()
    ind = ('%03d' % index_image)
    img = ImageTk.PhotoImage(Image.open(f'{ind}.png'))
    panel = tk.Label(root, image = img)
    panel.photo = img
    panel.place(relx=0.48,rely=0.26,relwidth=0.43,relheight=0.6)
    
    label2_index = tk.Label(root, text= f'{df[df.Name==pokemon].Index.item()}',font = 'Helvetica 18').place(relx=0.35,rely=0.25)
    label2_name = tk.Label(root, text= f'{df[df.Name==pokemon].Name.item()}',font = 'Helvetica 18').place(relx=0.35,rely=0.3)
    label2_type1 = tk.Label(root, text= f'{df[df.Name==pokemon].Type1.item()}',font = 'Helvetica 18').place(relx=0.35,rely=0.35)
    label2_type2 = tk.Label(root, text= f'{df[df.Name==pokemon].Type2.item()}',font = 'Helvetica 18').place(relx=0.35,rely=0.4)
    label2_HP = tk.Label(root, text= f'{df[df.Name==pokemon].HP.item()}',font = 'Helvetica 18').place(relx=0.35,rely=0.45)
    label2_atk = tk.Label(root, text= f'{df[df.Name==pokemon].Attack.item()}',font = 'Helvetica 18').place(relx=0.35,rely=0.5)
    label2_def = tk.Label(root, text= f'{df[df.Name==pokemon].Defense.item()}',font = 'Helvetica 18').place(relx=0.35,rely=0.55)
    label2_spatk = tk.Label(root, text= f'{df[df.Name==pokemon].SpAtk.item()}',font = 'Helvetica 18').place(relx=0.35,rely=0.6)
    label2_spdef = tk.Label(root, text= f'{df[df.Name==pokemon].SpDef.item()}',font = 'Helvetica 18').place(relx=0.35,rely=0.65)
    label2_speed = tk.Label(root, text= f'{df[df.Name==pokemon].Speed.item()}',font = 'Helvetica 18').place(relx=0.35,rely=0.7)
    label2_total = tk.Label(root, text= f'{df[df.Name==pokemon].Total.item()}',font = 'Helvetica 18').place(relx=0.35,rely=0.75)
    label2_generation = tk.Label(root, text= f'{df[df.Name==pokemon].Generation.item()}',font = 'Helvetica 18').place(relx=0.35,rely=0.8)

root = Tk()
root.geometry('1100x800+400+100')
root.resizable(False,False)
root.title('Pokemon Data')
canvas = tk.Canvas(root,bg = '#00FFFF').place(relwidth=1,relheight=1)
frame = tk.Frame(root, bg = '#FFFFFF').place(relx=0.075,rely=0.1,relwidth=0.85,relheight=0.8)

optn = ttk.Combobox(root,values=df['Name'].to_list())
optn.config(width=60,font=('Helvetica 18'))
optn.place(relx=0.1,rely=0.125,relwidth=0.3,relheight=0.1)

btn = tk.Button(root, text = 'Search', font=('Helvetica 18'), command = search)
btn.place(relx=0.6,rely=0.125,relwidth=0.3,relheight=0.1)

label_index = tk.Label(root, text= 'Index',font = 'Helvetica 18').place(relx=0.15,rely=0.25)
label_name = tk.Label(root, text= 'Name',font = 'Helvetica 18').place(relx=0.15,rely=0.3)
label_type1 = tk.Label(root, text= 'Type',font = 'Helvetica 18').place(relx=0.15,rely=0.35)
label_type2 = tk.Label(root, text= 'SubType',font = 'Helvetica 18').place(relx=0.15,rely=0.4)
label_HP = tk.Label(root, text= 'HP',font = 'Helvetica 18').place(relx=0.15,rely=0.45)
label_atk = tk.Label(root, text= 'Attack',font = 'Helvetica 18').place(relx=0.15,rely=0.5)
label_def = tk.Label(root, text= 'Defense',font = 'Helvetica 18').place(relx=0.15,rely=0.55)
label_spatk = tk.Label(root, text= 'Special Attack',font = 'Helvetica 18').place(relx=0.15,rely=0.6)
label_spdef = tk.Label(root, text= 'Special Defense',font = 'Helvetica 18').place(relx=0.15,rely=0.65)
label_speed = tk.Label(root, text= 'Speed',font = 'Helvetica 18').place(relx=0.15,rely=0.7)
label_total = tk.Label(root, text= 'Total',font = 'Helvetica 18').place(relx=0.15,rely=0.75)
label_generation = tk.Label(root, text= 'Generation',font = 'Helvetica 18').place(relx=0.15,rely=0.8)

root.mainloop()

In [8]:
root2 = Tk()
root2.geometry('475x475')
img = ImageTk.PhotoImage(Image.open('005.png'))
panel = tk.Label(root2, image = img)
panel.pack()
root2.mainloop()

In [64]:
df

,Unnamed: 0,Index,Name,Type1,Type2,Total,HP,Attack,Defense,SpAtk,SpDef,Speed,Generation,Legendary
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
4,5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746,794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
747,795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
748,797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
749,798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
750,799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True