In [1]:
import camelot as cm
import pandas as pd
import seaborn as sns

In [2]:
input_pdf = cm.read_pdf("COVID-19MorbidityMortalityRaceEthnicityLanguageWAState.pdf", flavor = "stream", pages = "31")
input_pdf

In [3]:
for n in input_pdf:
    print(n)

<Table shape=(21, 4)>

In [4]:
input_pdf[0].df

,0,1,2,3
0,Table 4. Confirmed or probable COVID-19 case c...,,,
1,language spoken,,,
2,,,,% of WA
3,,,,Population with
4,Language,Case Count % of Cases,,
5,,,,Limited English
6,,,,Proficiency*
7,All Cases,"631,023",100.0%,
8,Unknown Language,"400,072",63.4%,
9,Known Language,"230,951",36.6%,
10,English,"191,905",83.1*%,
11,Spanish,"32,665",14.1*%,6.4
12,Marshallese,333,0.1*%,0.1
13,Vietnamese,"1,134",0.5*%,0.5
14,Russian,"1,403",0.6*%,0.3
15,Chinese (all),395,0.2*%,0.3
16,Ukrainian,269,0.1*%,0.2
17,Somali,336,0.1*%,0.1
18,Tagalog,149,0.1*%,0.1
19,Amharic,190,0.1*%,0.1
20,Other,"2,172",0.9*%,

In [20]:
df = input_pdf[0].df.loc[11:21, 0:3]
df = df.reset_index(drop = True)
df.columns = ["Language","Case Count","% of Cases","% Limited English Proficiency"]
df

        Language Case Count % of Cases % Limited English Proficiency
0        Spanish     32,665     14.1*%                           6.4
1    Marshallese        333      0.1*%                           0.1
2     Vietnamese      1,134      0.5*%                           0.5
3        Russian      1,403      0.6*%                           0.3
4  Chinese (all)        395      0.2*%                           0.3
5      Ukrainian        269      0.1*%                           0.2
6         Somali        336      0.1*%                           0.1
7        Tagalog        149      0.1*%                           0.1
8        Amharic        190      0.1*%                           0.1
9          Other      2,172      0.9*%

In [6]:
df.to_csv("pdf_covid_output1.csv")
df.to_excel("pdf_covid_output2.xlsx")

In [8]:
df2 = pd.read_csv("pdf_covid_output1.csv")
df2

,Unnamed: 0,Language,Case Count,% of Cases,% Limited English Proficiency
0,0,Spanish,"32,665",14.1*%,6.4
1,1,Marshallese,333,0.1*%,0.1
2,2,Vietnamese,"1,134",0.5*%,0.5
3,3,Russian,"1,403",0.6*%,0.3
4,4,Chinese (all),395,0.2*%,0.3
5,5,Ukrainian,269,0.1*%,0.2
6,6,Somali,336,0.1*%,0.1
7,7,Tagalog,149,0.1*%,0.1
8,8,Amharic,190,0.1*%,0.1
9,9,Other,"2,172",0.9*%,NaN

In [13]:
sns.barplot(x = "Language", y = "Case Count", data = df2);

ValueError: Neither the `x` nor `y` variable appears to be numeric.